
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



h1 {
    font-weight: normal;
    color: white;
}

div.info {
    margin: 12px 0;
}

div.info * {
    color: white;
}

#icons {
    display: none;
    filter:url(#drop-shadow);
}

.container {
    position: absolute;
    left: 1000px;
}

div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
}

svg.icons {
    display: none;
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: .1s;
    transition-timing-function: ease-out;
}

/* svg.menu > g > svg {
    fill: #ffffff;
} */
  
/* svg.menu > g:hover > svg {
    fill: #b922d1;
} */




svg.menu > g > svg {
    fill: #ffffff;

    /* stroke: #ffffff;
    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
    stroke-linecap: butt;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; */
}
  
svg.menu > g:hover > svg {
    fill: #ffffff;
    filter: drop-shadow(0 0 2px #000000bf) drop-shadow(0 0 5px #000000bf) drop-shadow(0 0 10px #000000bf) drop-shadow(0 0 20px #000000bf) drop-shadow(0 0 30px #000000bf) drop-shadow(0 0 40px #000000bf);
}




svg.menu.inner {
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    opacity: 0;
    visibility: hidden;
}


svg.menu > g > path {
    fill: rgb(23 23 23 / 50%);
}

svg.menu > g.sector > path {
    cursor: pointer;
}

svg.menu > g.sector > text,
svg.menu > g.sector > use {
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    font-weight: bold;
    font-size: 3.5px;
    letter-spacing: 0.2px;
    /* text-transform: uppercase; */
    cursor: pointer;
    fill: white;
}

svg.menu > g.sector:hover > path {
    fill:#000000d7;
}

svg.menu > g.sector:hover > text {
    /* fill: white; */
    font-size: 4.2px;
    text-shadow: 0 0 10px #fff, 
    0 0 20px #fff, 
    0 0 40px #fff, 
    0 0 80px #fff, 
    0 0 120px #fff, 
    0 0 160px #fff;
}

svg.menu > g.center:hover > circle {
    fill:#000000b9;
}

svg.menu > g.center > circle {
    cursor: pointer;
    fill: rgb(23 23 23 / 50%);
}

svg.menu > g.center > text,
svg.menu > g.center > use {
    margin-top: 5px;
    font-size: 2.5px;
    cursor: pointer;
    fill: white;
}