
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rye&family=Signika+Negative:wght@300..700&display=swap');
@font-face {
    font-family: crock;
    src: url("/ui/assets/font/crock.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 1.0vh;
    transition: all 500ms ease-in-out;
    color: white;
    overflow: hidden;
    /* background-color: rgb(31, 44, 44); */
    /* background: url() center / 100% 100% no-repeat; */
    user-select: none;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgb(0, 0, 0, 0.99) 2%, rgb(215, 187, 132) 45%); */
}

.book {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "crock";
    font-weight: 400;
    /* background-color: antiquewhite; */
    background: url(../assets/img/book.png) center / 100% 100% no-repeat;
}

.hometitle{
    position: absolute;
    font-family: "crock";
    font-weight: 400;
    font-size: 5vh;
    left: 16%;
    top: 11%;
    color: #2b201a;
}
.hometitle2{
    position: absolute;
    font-family: "crock";
    font-weight: 400;
    font-size: 1vh;
    left: 17.5%;
    top: 21%;
    color: #2b201a;
}
.admin-hometitle{
    position: absolute;
    font-family: "crock";
    font-weight: 400;
    font-size: 5vh;
    left: 19.5%;
    top: 11%;
    color: #2b201a;
}
.admin-hometitle2{
    position: absolute;
    font-family: "crock";
    font-weight: 400;
    font-size: 1vh;
    left: 18%;
    top: 21%;
    color: #2b201a;
}
.requestdesc{
    position: absolute;
    font-family: "crock";
    font-weight: 400;
    font-size: 0.6vh;
    left: 12%;
    top: 87%;
    color: #2b201a;
}

.show-ped {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 17%;
    height: 45%;
    top: 25%;
    left: 22%;
    filter: drop-shadow(-10px 10px 0.4rem rgba(0, 0, 0, 0.898));
}

#pedimg {
    position: absolute;
    width: 100%;
    height: 100%;
    /* display:none; */
}
#frameimg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#loadingimg {
    position: absolute;
    animation: rotateLoading 0.8s linear infinite;
}

.loading span {
    filter: drop-shadow(1px 1px 0.2rem rgba(0, 0, 0, 0.898));
}

@keyframes rotateLoading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.select-defaultped,
.pedrequest {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 10%;
    height: 5%;
    top: 73%;
    left: 25%;
    background: none;
    font-size: 1vh;
    text-wrap: nowrap;
    color: black;
    background-color: rgb(0, 0, 0);
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));;
    transition: all ease 0.3s;
    cursor: pointer;
}
.pedrequest:hover {
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(85, 68, 34, 0.898));
    transition: all ease 0.3s;
    transform: scale(0.95);
    font-size: 1.1vh;
    color: white;
}

.requestdesc {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10%;
    top: 80%;
    left: 15%;
    text-align: center;
    /* background-color: #95867e; */
    font-size: 1.0vh;
}

.categories-cont {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 35%;
    height: 75%;
    top: 7%;
    right: 12%;
    color: #2b201a;
    /* background-color: rgba(58, 38, 13, 0.534); */
}
.categories-cont h1{
    position: absolute;
    font-family: "crock";
    font-weight: 400;
    font-size: 3vh;
    top: 8%;
    color: #2b201a;
    border-bottom: 10px solid transparent; 
    border-image: url("../assets/img/borderbottom.png") 5 180 stretch; 
}

.categories {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 83%;
    top: 17%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #2b201a;
    gap: 5px;
    /*background-color: rgba(15, 6, 32, 0.568); */
}

.categorie-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78%;
    height: 18%;
    font-size: 1.3vh;
    padding: 30px;
    opacity: 1.0;
    top: 5%;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.categorie-box:hover {
    background-color: #1f161648;
    color: white;
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(85, 68, 34, 0.898));
    transform: scale(0.97);
    transition: all 0.3s ease-out;
}
#categorie-img {
    position: absolute;
    width: 30%;
    right: -4%;
    top: -38%;
}

.mypeds-container,
.peds-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 35%;
    height: 75%;
    top: 7%;
    right: 12%;
    color: #2b201a;
    /* background-color: rgba(58, 38, 13, 0.534); */
}

.myped-controller {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 35%;
    height: 20%;
    top: 70%;
    left: 12.7%;
    color: #2b201a;
    /* background-color: rgba(58, 38, 13, 0.534); */
}

.outfit {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 45%;
    height: 25%;
    top: 10%;
    color: #2b201a;
    gap: 5px;
    /* background-color: rgba(58, 38, 13, 0.534); */
}

.right-arrow,
.left-arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 95%;
    font-size: 1.0vh;
    filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.983));
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.outfit-value {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 95%;
    font-size: 1.4vh;
    filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.983));
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

#arrowimg {
    position: absolute;
    width: 50%;
}

.right-arrow:hover,
.left-arrow:hover {
    transform: scale(0.95);
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
}

.setdefault,
.useped {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 43%;
    height: 25%;
    top: 40%;
    background: none;
    font-size: 1vh;
    text-wrap: nowrap;
    color: black;
    background-color: rgb(0, 0, 0);
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    transition: all ease 0.3s;
    cursor: pointer;
}

.setdefault {
    top: 70%;
}

.setdefault:hover,
.useped:hover {
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(85, 68, 34, 0.898));
    transition: all ease 0.3s;
    transform: scale(0.95);
    font-size: 1.1vh;
    color: white;
}

.mypeds-container h1,
.peds-container h1{
    position: absolute;
    font-family: "crock";
    font-weight: 400;
    font-size: 3vh;
    top: 4%;
    color: #2b201a;
    border-bottom: 10px solid transparent; 
    border-image: url("../assets/img/borderbottom.png") 5 150 stretch; 
}

.my-peds {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 78%;
    top: 22%;
    right: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #2b201a;
    gap: 5px;
    padding: 5px 0px;
   /*background-color: rgba(15, 6, 32, 0.568); */
}

.peds {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 78%;
    top: 22%;
    right: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #2b201a;
    gap: 5px;
    padding: 5px 0px;
   /*background-color: rgba(15, 6, 32, 0.568); */
}

.myped-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 16%;
    font-size: 1.1vh;
    padding: 25px;
    opacity: 1.0;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
#defaultimg {
    position: absolute;
    width: 10%;
    top: 15%;
    right: 5%;
}
.ped-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20%;
    font-size: 1.1vh;
    padding: 10px;
    opacity: 1.0;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.myped-box:hover,
.ped-box:hover {
    background-color: #1f161648;
    color: white;
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(85, 68, 34, 0.898));
    transform: scale(0.97);
    transition: all 0.3s ease-out;
}

.myped-remainingday {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    height:auto;
    font-size:0.9vh;
    top:50%;
}

.myped-box .ped-name {
    position:absolute;
    top:20%;
}

#dayicon {
    color:rgba(158, 3, 3, 0.99);
}

.time-box.active,
.request-box.active,
.myped-box.active,
.ped-box.active {
    background-color: #1f161648;
    color: white;
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(85, 68, 34, 0.898));
}


#ped-img {
    position: absolute;
    width: 25%;
    right: 0%;
    bottom: 5%;
}

.refresh-character {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 15%;
    height: 5%;
    top: 83.5%;
    left: 62.5%;
    background: none;
    font-size: 1vh;
    text-wrap: nowrap;
    color: black;
    background-color: rgb(0, 0, 0);
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    transition: all ease 0.3s;
    cursor: pointer;
    white-space: nowrap;
}
.mypeds-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 10%;
    height: 5%;
    top: 83.5%;
    left: 65%;
    background: none;
    font-size: 1vh;
    text-wrap: nowrap;
    color: black;
    background-color: rgb(0, 0, 0);
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    transition: all ease 0.3s;
    cursor: pointer;
    white-space: nowrap;
}
.admin-btn:hover,
.refresh-character:hover,
.mypeds-btn:hover {
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(85, 68, 34, 0.898));
    transition: all ease 0.3s;
    transform: scale(0.95);
    font-size: 1.1vh;
    color: white;
}

.admin-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 12%;
    height: 5%;
    top: 79%;
    left: 24%;
    background: none;
    font-size: 1vh;
    text-wrap: nowrap;
    color: black;
    background-color: rgb(0, 0, 0);
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    transition: all ease 0.3s;
    cursor: pointer;
}

#searchmypeds,
#searchname,
#searchped {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 45%;
    height: 5%;
    top: 15.5%;
    background: none;
    font-size: 1vh;
    text-wrap: nowrap;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    text-align: center;
    font-family: "crock";
    padding: 5px;
}

#searchmypeds::placeholder,
#searchname::placeholder,
#searchped::placeholder{
    color: black;
    
}

#searchmypeds::-webkit-search-cancel-button,
#searchname::-webkit-search-cancel-button,
#searchped::-webkit-search-cancel-button {
    display: none;
}

.request-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 35%;
    height: 75%;
    top: 7%;
    right: 12%;
    color: #2b201a;
    /* background-color: rgba(58, 38, 13, 0.534); */
}
.request-container h1{
    position: absolute;
    font-family: "crock";
    font-weight: 400;
    font-size: 2.5vh;
    top: 4%;
    color: #2b201a;
    border-bottom: 10px solid transparent; 
    border-image: url("../assets/img/borderbottom.png") 5 150 stretch; 
}

.request-peds {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 78%;
    top: 22%;
    right: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    color: #2b201a;
   /* background-color: rgba(15, 6, 32, 0.568); */
}

.request-player {
    position: absolute;
    top: 15%;
}

.request-ped {
    position: absolute;
    font-size: 1.0vh;
}

.request-date {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 25%;
    top: 62%;
    right: 5%;
    font-size: 0.9vh;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    color: black;
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
}
.request-category {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 25%;
    top: 62%;
    left: 5%;
    font-size: 0.9vh;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    color: black;
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    white-space: nowrap;
}

.request-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    font-size: 1.3vh;
    padding: 50px 0px;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.983));
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.request-box:hover {
    background-color: #1f161648;
    color: white;
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(85, 68, 34, 0.898));
    transform: scale(0.97);
    transition: all 0.3s ease-out;
}
.request-box:hover .request-date,
.request-box:hover .request-category {
    color: black;
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
}

.confirm-request {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 10%;
    height: 5%;
    top: 82%;
    left: 20%;
    background: none;
    font-size: 1vh;
    text-wrap: nowrap;
    color: black;
    background-color: rgb(0, 0, 0);
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.898));
    transition: all ease 0.3s;
    cursor: pointer;
}
.confirm-request:hover {
    color: white;
    background: url(../assets/img/boxgreen.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(44, 85, 34, 0.898));
    transform: scale(0.97);
    transition: all 0.3s ease-out;
}
.cancel-request {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 10%;
    height: 5%;
    top: 82%;
    left: 32%;
    background: none;
    font-size: 1vh;
    text-wrap: nowrap;
    color: black;
    background-color: rgb(0, 0, 0);
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(39, 38, 38, 0.898));
    transition: all ease 0.3s;
    cursor: pointer;
}
.cancel-request:hover {
    color: white;
    background: url(../assets/img/boxred.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(129, 1, 1, 0.898));
    transform: scale(0.97);
    transition: all 0.3s ease-out;
}

.time-cont {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36%;
    height: 7%;
    top:73%;
    left: 12.5%;
    /* background-color: #1b1a199a; */
}
.time-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
    height: 56%;
    color: black;
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(0, 0, 0, 0.898));
    transition: all ease 0.3s;
}

.time-box:hover {
    color: white;
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
    filter: drop-shadow(-5px 5px 1px rgba(85, 68, 34, 0.898));
    transform: scale(0.97);
    transition: all 0.3s ease-out;
}

.my-peds:-webkit-scrollbar-track,
.request-peds:-webkit-scrollbar-track,
.peds::-webkit-scrollbar-track,
.categories::-webkit-scrollbar-track {

   background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
}

.my-peds::-webkit-scrollbar,
.request-peds::-webkit-scrollbar,
.peds::-webkit-scrollbar,
.categories::-webkit-scrollbar {
    width: 3px;
    background: url(../assets/img/boxnew.png) center / 100% 100% no-repeat;
}

.my-peds::-webkit-scrollbar-thumb,
.request-peds::-webkit-scrollbar-thumb,
.peds::-webkit-scrollbar-thumb,
.categories::-webkit-scrollbar-thumb {
    background: url(../assets/img/boxblack.png) center / 100% 100% no-repeat;
}
