@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

:root {
  --base-color: #251b15;
  --font-color: #776650;
}

@font-face {
  font-family: texas;
  src: url("/ui/assets/fonts/texas.otf") format("opentype");
}

@font-face {
  font-family: abula;
  src: url("/ui/assets/fonts/Abula-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "western";
  src: url("/ui/assets/fonts/WesternBangBang-Regular.woff") format("opentype");
}


* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  transition: all 500ms ease-in-out;
  min-height: 100vh;
  font-weight: 500;
  overflow: hidden;
}

.container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 1.0vh;

  /* background-image: url(/assets/img/gamebg.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  user-select: none;
  /* filter: blur(2px); */
}

.alcohol,
.onesync,
.temp,
.microphone,
.horse-stamina,
.dirty,
.horse-health,
.thirst,
.stress,
.hungry,
.stamina,
.health {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: bisque; */
  width: 1.8%;
  height: 3.1%;
  top: 96%;
  left: 0.5%;
  user-select: none;
  margin: 0px 2px;
  border-radius: 50%;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  z-index: 2;
  border: none;
  overflow: visible;
}

/* .health {
  top: 96%;
  left: 0%;
}
.stamina {
  top: 96%;
  left: 2.5%;
}
.hungry {
  top: 96%;
left: 5%;
}
.thirst {
  top: 96%;
left: 7.5%;
}
.microphone {
  top: 96%;
  left: 10%;
}
.alcohol {
  top: 96%;
  left: 12.5%;
}
.stress {
  top: 96%;
  left: 15%;
}
.temp {
  top: 96%;
  left: 17.5%;
}
.dirty {
  top: 96%;
  left: 20%;
}
.temp {
  top: 96%;
  left: 22.5%;
}
.onesync {
  top: 96%;
  left: 25%;
}
.horse-health {
  top: 96%;
  left: 27.5%;
}
.horse-stamina {
  top: 96%;
  left: 30%;
} */

.progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  border-radius: 50%;
  overflow: hidden;
  /* border: 1px solid white; */
  background:
  radial-gradient(closest-side, rgb(0, 0, 0) 79%, transparent 80% 100%),
  conic-gradient(rgb(255, 255, 255) 0%, rgb(37, 37, 37) 0);
}

.onesync #icon,
.microphone #icon,
.health #icon,
.stamina #icon,
.hungry #icon,
.thirst #icon,
.alcohol #icon,
.stress #icon,
.horse-health #icon,
.dirty #icon,
.horse-stamina #icon {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5vh;
  overflow: hidden;
}

.temp-value {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.0vh;
  font-weight: 500;
}

.onesync #icon {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.5vh;
}

.horse-bounding {
  position: absolute;
  top: -30%;
  right: 0%;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.2vh;
  font-weight: 600;
  z-index: 2;
}

.notify-container {
  position: absolute;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 13%;
  height: max-content;
  top: 5%;
  left: 1%;
  overflow: hidden;
  user-select: none;
  z-index: 99;
  /*background-color: rgba(60, 60, 60, 0.55)!important;*/
  border-radius:5px;
}


.notify {
  position: relative;
  width: 100%;
  height:100px;
  /* background-color: #323233; */
  color: #fff;
  padding: 10px 30px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 30px;
  transition: height 0.3s ease; /* Animasyonlu geÃ§iÅŸ ekledik */
  background-image: url(/ui/assets/img/notifybg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.notify-title {
  font-family: abula;
  color: rgb(255, 255, 255);
  font-size: 1.5vh;
  font-weight: 500;
  padding-top: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.376);
  display: block;
}

.notify-desc {
  position: relative;
  padding-top: 5px;
  display: block;
  font-family: abula;
  color: rgb(245, 240, 240);
  font-size: 1.1vh;
  font-weight: 400;
  /* display: none; */
}

.notify-bar {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 20px;
  right: 7%;
  border-radius: 50%;
  border: none;
  /* border: 1px solid white; */
  background:
    radial-gradient(closest-side, rgba(0, 0, 0, 0.99) 79%, transparent 80% 100%),
    conic-gradient(rgb(255, 255, 255) 0%, rgb(30, 30, 30) 0);
}

#notify-img {
  position: absolute;
  width: 6%;
  top:15px;
  right: 10%;
}


#warning-img {
  position: absolute;
  width: 6%;
  top:15px;
  right: 10%;
}

.level {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 5%;
  top: 95%;
  left: 72%;
  overflow: hidden;
  /* background-color: #f454;  */
}


.level-text {
  position: absolute;
  display:flex;
  align-items:center;
  text-align:center;
  white-space: nowrap;
  width: 35%;
  height: 35%;
  top: 40%;
  left: 15%;
  font-family: abula;
  color: rgb(255, 255, 255);
  font-size: 1.2vh;
  font-weight: 600;
  /* background-color:red; */
}

.level-xp {
  position: absolute;
  display:flex;
  align-items:bottom;
  justify-content: right;
  text-align:center;
  white-space: nowrap;
  width: 35%;
  height: 35%;
  top: 45%;
  right: 16%;
   font-family: abula;
  color: rgb(255, 255, 255);
  font-size: 1.2vh;
  font-weight: 600;
  /* background-color: red; */
}

.level-bar {
  position: absolute;
  white-space: nowrap;
  width: 70%;
  height: 7%;
  bottom: 15%;
  right: 15%;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid white; */
  background: linear-gradient(to right, rgb(248, 248, 248) 79%, transparent 80% 100%),
    linear-gradient(to right, rgb(0, 0, 0) 100%, transparent 80% 100%);
}

#xpimg {
  position: absolute;
  width: 8%;
  top: 45%;
  left:5%;
}

.server-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 7%;
  top: 6%;
  left: 89%;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: #251b15; */
}

#server-logo {
  position: absolute;
  width: 60%;
  opacity: 0.8;
}

.cash {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 4%;
  top: 1%;
  left: 90%;
  overflow: hidden;
}
.gold {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 4%;
  top: 5%;
  left: 90%;
  overflow: hidden;
}

.hour {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 4%;
  top: 9%;
  left: 90%;
  overflow: hidden;
}

.id {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 4%;
  top: 13%;
  left: 90%;
  overflow: hidden;
}

.id-text,
.hour-text,
.gold-value,
.cash-value {
  position: absolute;
  right: 25%;
  text-align: right;
  font-family: abula;
  color: rgb(255, 255, 255);
  font-size: 1.2vh;
  font-weight: 600;
}

#hour-icon,
#id-icon,
#gold-icon,
#cash-icon {
  position: absolute;
  right: 5%;
  font-size: 2.0vh;
  color: rgb(255, 255, 255);
}


.ui-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.ui-box {
  position: absolute;
  /* display: none; */
  overflow: hidden;
  width: 50%;
  height: 50%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #000000;
  background: url(/ui/assets/img/FX-HUD-BG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.border1:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 0%;
  width: 30%;
  border-top: 1px solid rgb(255, 255, 255);
}

.border2:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 40%;
  width: 0%;
  border-left: 1px solid rgb(255, 255, 255);
}

.border3:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  height: 0%;
  width: 30%;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.border4:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0%;
  height: 40%;
  width: 0%;
  border-right: 1px solid rgb(255, 255, 255);
}

.navbar-buttons {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  user-select: none;
  text-decoration: none;
  overflow: hidden;
  width: 100%;
  height: 90%;
  top: 15%;
  /* background-color: #776650; */
}


#close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 7%;
  top: 0%;
  right: 0%;
  background: none;
  /* background-color: #776650; */
  border: none;
  font-size: 2vh;
  color: white;
  transition: all 0.5s ease;
}

#close-btn:hover {
  color: red;
  transition: all 0.5s ease;
}

#close-btn:active {
  color: rgb(0, 0, 0);
  transition: all 0s ease;
}

#notify-setting-btn,
#hud-setting-btn,
#hud-color-btn,
#home-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  left: 0%;
  top: 6%;
  font-family: 'Poppins', sans-serif;
  color: rgb(205, 202, 202);
  text-shadow: 5px 6px 1px black;
  font-size: 1.25vh;
  font-weight: 600;
  /* background-color: #776650; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
  transition: transform 0.5s ease;
  z-index: 3;
}

#home-btn:hover,
#notify-setting-btn:hover,
#hud-color-btn:hover,
#hud-setting-btn:hover {
  color: white;
  text-shadow: 5px 6px 1px black;
  font-size: 1.4vh;
  /* transform: scale(1.05); */
  transition: transform 0.5s ease;
  border-left: 2px solid white;
  background: linear-gradient(90deg, rgba(120, 120, 120, 0.743) 0%, rgba(255, 255, 255, 0) 45%);
}

#home-btn:active,
#notify-setting-btn:active,
#hud-color-btn:active,
#hud-setting-btn:active {
  /* transform: scale(0.9); */
  transition: transform 0s ease;
  background: linear-gradient(90deg, rgba(192, 192, 192, 0.743) 0%, rgba(255, 255, 255, 0) 45%);
  /* border-bottom: 1px solid rgb(255, 255, 255); */
}

#navbar-btn-icon {
  position: absolute;
  left: 10%;
}

.btn-title {
  position: absolute;
  left: 30%;
}


.hud-settings {
  position: absolute;
  display: none;
  width: 80%;
  height: 94%;
  top: 6%;
  right: 0%;
  overflow: hidden;
  /* background-color: rgba(0, 255, 255, 0.193); */
}

.health-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 5%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.stamina-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 15%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.hungry-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 25%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.thirst-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 35%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.stress-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 45%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.dirty-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 55%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.microphone-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 65%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.temp-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 75%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.onesync-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 85%;
  left: 10%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.alcohol-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 5%;
  left: 55%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.horse-health-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 15%;
  left: 55%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.horse-stamina-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 25%;
  left: 55%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.level-progress {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 35%;
  left: 55%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.hour-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 45%;
  left: 55%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.cash-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 55%;
  left: 55%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.gold-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 65%;
  left: 55%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.id-setting {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 10%;
  top: 75%;
  left: 55%;
  border-radius: 10px;
  /* background-color: rgb(0, 0, 0); */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
}

.health-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: LEFT;
  width: 20%;
  height: 90%;
  /* background-color: #776650; */
  left: 1%;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.0vh;
  font-weight: 600;
  border-right: 3px solid rgb(0, 255, 247);
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.color1-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 10%;
  /* background-color: #776650; */
  left: 25%;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.0vh;
  font-weight: 600;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.color2-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 10%;
  /* background-color: #776650; */
  left: 55%;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.0vh;
  font-weight: 600;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.376); */
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

#color-1 {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 45%;
  border-radius: 10px;


}

#color-2 {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  left: 75%;
  border-radius: 10px;
}

#color-1::-webkit-color-swatch,
#color-2::-webkit-color-swatch {
  border-radius: 10px;
  border: none;
}

#color-1::-moz-color-swatch,
#color-2::-moz-color-swatch {
  border-radius: 10px;
  border: none;
}

.navbar {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  user-select: none;
  text-decoration: none;
  overflow: hidden;
  width: 20%;
  height: 100%;
  top: 0%;
  /* background-image: linear-gradient(70deg, #000000f8 20%, #8e5454 100%); */
  border-right: 1px solid transparent;
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), #ffffffec, #ffffff00) 100 1%;
}

#navbar-title-icon {
  position: absolute;
  top: 25%;
  left: 5%;
  color: white;
  font-size: 2.5vh;
}

.navbar-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-width: 4px 0;
  top: 5%;
  left: 0%;
  width: 100%;
  height: 10%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.0vh;
  font-weight: 600;
  color: white;
  text-shadow: 0 0 1px rgba(203, 208, 214, 0.0);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to left, #ffffff00, #ffffff8a, #ffffff) 100 1%;
  /* background-color: #251b15; */

  background: url(/ui/assets/img/animated-text-fill2.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.home-container {
  position: absolute;
  /* display: none; */
  width: 80%;
  height: 94%;
  top: 6%;
  right: 0%;
  overflow: hidden;
  /* background-color: rgba(0, 255, 255, 0.193); */
}

.home-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: LEFT;
  text-transform: uppercase;
  width: 20%;
  height: 5%;
  top: 4%;
  left: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.0vh;
  font-weight: 600;
  color: white;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to left, #ffffff00, #ffffff8a, #5c5858) 100 1%;
  /* background-color: #000000; */
}

#default-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 5%;
  top: 15%;
  left: 2%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0vh;
  font-weight: 600;
  color: white;
  background-color: rgb(48, 48, 48);
  transition: all 0.5s ease;
}

#left-preset-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 5%;
  top: 15%;
  left: 25%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0vh;
  font-weight: 600;
  color: white;
  background-color: rgb(48, 48, 48);
  transition: all 0.5s ease;
}

#right-preset-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 5%;
  top: 15%;
  left: 50%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0vh;
  font-weight: 600;
  color: white;
  background-color: rgb(48, 48, 48);
  transition: all 0.5s ease;
}

#default-btn:hover,
#left-preset-btn:hover,
#right-preset-btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: all 0.5s ease;
}

#default-btn:active,
#left-preset-btn:active,
#right-preset-btn:active {
  color: rgb(255, 255, 255);
  background-color: rgb(128, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: all 0s ease;
}

.onof-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: LEFT;
  text-transform: uppercase;
  width: 20%;
  height: 5%;
  top: 30%;
  left: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.0vh;
  font-weight: 600;
  color: white;
  border-bottom: 2px solid transparent;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  border-image: linear-gradient(to left, #ffffff00, #ffffff8a, #5c5858) 100 1%;
  /* background-color: #000000; */
}

.showhide-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  user-select: none;
  text-decoration: none;
  width: 100%;
  height: 60%;
  bottom: 0;
  overflow: hidden;
}

.showhide-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 20%;
  height: 10%;
  top: 0%;
  left: 2%;
  margin: 10px 10px;
  
}



.showhide-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 40%;
  height: 100%;
  /* background-color: red; */
  left: 0%;
  color: #ffffff;
  border-right: 2px solid white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.0vh;
  font-weight: 600;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 80%;
  right: 15%;
  
  /* background-color: #2196F3; */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3c3b3b;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(73, 199, 245);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(210, 214, 211);
}

input:focus+.slider {
  box-shadow: 0 0 0px rgb(210, 214, 211);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hud-size-container {
  position: absolute;
  display: none;
  width: 80%;
  height: 94%;
  top: 6%;
  right: 0%;
  /* background-color: rgba(0, 0, 0, 0.193); */
}

.size-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: LEFT;
  text-transform: uppercase;
  width: 20%;
  height: 5%;
  top: 4%;
  left: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.0vh;
  font-weight: 600;
  color: white;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to left, #ffffff00, #ffffff8a, #5c5858) 100 1%;
  /* background-color: #000000; */
}

.size-title2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: LEFT;
  text-transform: uppercase;
  width: 20%;
  height: 5%;
  top: 50%;
  left: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.0vh;
  font-weight: 600;
  color: white;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to left, #ffffff00, #ffffff8a, #5c5858) 100 1%;
  /* background-color: #000000; */
}

.hud-widht {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 15%;
  left: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
  /* background-color: #edae894d; */
}

.hud-height {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 15%;
  left: 20%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
  /* background-color: #edae894d; */
}

.hud-radius {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 15%;
  left: 40%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
  /* background-color: #edae894d; */
}

.hud-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 15%;
  left: 60%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
  /* background-color: #edae894d; */
}

.level-widht {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 30%;
  left: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
  /* background-color: #edae894d; */
}

.level-height {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 30%;
  left: 20%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
  /* background-color: #edae894d; */
}

.level-fontsize {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 30%;
  left: 40%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
  /* background-color: #edae894d; */
}

.level-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 30%;
  left: 60%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
  /* background-color: #edae894d; */
}

/* .notify-widht {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:center;
	text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 62%;
  left: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
}

.notify-height {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:center;
	text-transform: uppercase;
  width: 15%;
  height: 10%;
  top: 62%;
  left: 20%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5vh;
  font-weight: 600;
  color: white;
} */

.sizing-title {
  position: absolute;
  text-transform: uppercase;
  top: 0%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vh;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  /* background-color: #000000; */
}

#down-value {
  position: absolute;
  text-transform: uppercase;
  bottom: 5%;
  left: 10%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5vh;
  font-weight: 600;
  color: white;
  z-index: 2;
}

#up-value {
  position: absolute;
  text-transform: uppercase;
  bottom: 5%;
  right: 10%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5vh;
  font-weight: 600;
  color: white;
  z-index: 2;
}

#down-value:hover,
#up-value:hover {
  color: rgb(78, 231, 255);
}

#down-value:active,
#up-value:active {
  transform: scale(0.95);
  color: rgb(78, 231, 255);
}


/* #notify-widht-value,
#notify-height-value, */
#level-fontsize-value,
#level-widht-value,
#level-height-value,
#radius-value,
#icon-value,
#level-logo-value,
#height-value,
#widht-value {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40%;
  height: 45%;
  border-radius: 10px;
  background-color: #4b4b4a;
  bottom: 10%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vh;
  font-weight: 600;
  color: white;
}

#height-value::placeholder,
#widht-value::placeholder {
  color: rgb(255, 255, 255);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.progress-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  z-index: 0;
}

.background-circle {
  fill: #000000; 
}

.progress-bg {
  fill: none;
  stroke: #252525; 
  stroke-width: 7;
}

.progress-circle {
  fill: none;
  stroke: #ffffff; 
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 283; 
  stroke-dashoffset: 283; 
}

@keyframes circularProgress {
  from {
    background: radial-gradient(closest-side, rgb(0, 0, 0) 79%, transparent 80% 100%), conic-gradient(rgb(255, 255, 255) 100%, rgba(37, 37, 37, 0) 0);
  }
  to {
    background: radial-gradient(closest-side, rgb(0, 0, 0) 79%, transparent 80% 100%), conic-gradient(rgb(255, 255, 255) 0%, rgba(37, 37, 37, 0) 100%);
  }
}

.progress-animate {
  animation: circularProgress 400s linear forwards;
}

@keyframes pulse {
  10% {
      box-shadow: 0 0 0 0 rgb(187, 0, 0);
  }

  70% {
      box-shadow: 0 0 0 14px rgba(0, 0, 0, 0);
  }

  100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse2 {
  10% {
      box-shadow: 0 0 0 0 whitesmoke;
  }

  70% {
      box-shadow: 0 0 0 14px rgba(0, 0, 0, 0);
  }

  100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


@keyframes pulseimg {
  0% {
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.9);
  }

  70% {
      border-radius: 50%;
      box-shadow: 0 0 0 14px rgba(245, 241, 241, 0.0);
  }

  100% {
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(245, 242, 242, 0.0);
  }
}

@keyframes pulseicon {
  0% {
      transform: scale(0.85);
  }

  70% {
      transform: scale(1);
  }

  100% {
      transform: scale(0.85);
  }
}

@media (max-width:1920px) {
  .notify-bar {
    width: 17px;
    height: 17px;
    top: 10px;
    right: 5%;
  }
  .notify-desc {
    font-size: 1.1vh;
    font-weight: 600;
    /* display: none; */
  }
  .slider:before {
    height: 22px;
    width: 22px;
    left: -2px;
    bottom: 1px;
  }
  .color1-title,
  .color2-title {
    font-size: 0.90vh;
  }
  #color-1 {
    width: 30px;
    height: 32px;
  }
  
  #color-2 {
    width: 30px;
    height: 32px;
  }
  .health-setting,
  .stamina-setting,
  .hungry-setting,
  .thirst-setting,
  .stress-setting,
  .dirty-setting,
  .microphone-setting,
  .temp-setting,
  .onesync-setting {
    left: 5%;
  }


  .alcohol-setting,
  .horse-health-setting,
  .horse-stamina-setting ,
  .level-progress,
  .hour-setting,
  .cash-setting,
  .gold-setting,
  .id-setting {
    left: 50%;
  }
}

@media (min-width:3440px) {
  .ui-box {
    background-size: cover;
  }
  .notify-container {
    width: 20%;
    height: 80%;
    top: 5%;
    left: 0%;
  }
  
  .notify {
    position: relative;
    width: 60%;
    left: 2%;
    /* background-color: #323233; */
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
  }
  
  .notify-title {
    height: 25%;
    font-size: 2.0vh;
    font-weight: 900;
    margin-top: 5px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.376);
    display: block;
  }
  
  .notify-desc {
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    color: rgb(245, 240, 240);
    font-size: 1.5vh;
    font-weight: 600;
    /* display: none; */
  }
  
  .notify-bar {
    width: 20px;
    height: 20px;
    top: 25px;
    right: 5%;
  }
  
  #notify-img {
    width: 10.5%;
    top: 10px;
    left: 0%;
  }
  
  #warning-img {
    width: 10%;
    top: 10px;
    left: 0%;
  }

  .alcohol,
  .onesync,
  .temp,
  .microphone,
  .horse-stamina,
  .dirty,
  .horse-health,
  .thirst,
  .stress,
  .hungry,
  .stamina,
  .health {
    /* background-color: bisque; */
    width: 1.8%;
    height: 3.1%;
    top: 96%;
    left: 0.5%;
    user-select: none;
    margin: 0px 2px;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
}

.showvoicerange {
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  width:max-content;
  height:auto;
  padding:10px;
  top:40%;
  left:50%;
  font-family: abula;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

#range-icon {
  position:relative;
  font-size:2.0vh;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.voice-range{
  position:relative;
  bottom:0px;
  left:5%;
  font-size:2.0vh;
  letter-spacing:2px;
  font-family: abula;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}


.usevalue {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  height: 3%;
  /* background-color: black; */
  font-size: 1.3vh;
  font-weight:600;
  color: white;
  white-space: nowrap;
  z-index: 1;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  text-shadow: 1px 1px 20px black;
}